<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>contacte</servlet-name>
    <servlet-class>Servlets.ContacteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contacte</servlet-name>
    <url-pattern>/DentalProducts/contacte</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GetProduct</servlet-name>
    <servlet-class>Servlets.GetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProduct</servlet-name>
    <url-pattern>/DentalProducts/GetProduct</url-pattern>
  </servlet-mapping>
</web-app>